.divBotones {
    display: flex;
    justify-content: center;
}

.divBotones button {
    border: none;
    padding: auto;
    margin: 0px 10px;
    width: 30px;
    height: 30px;
}

.botonResta {
    background-color: red;
}

.botonSuma {
    background-color: #0088a9;
}